* {
    margin: 0;
    padding: 0;
}

body {
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

canvas {
    image-rendering: pixelated;
    image-rendering: crisp-edges;
    width: 960px;
    height: 540px;
}
